<!DOCTYPE html>
<html lang="en">
<title>Henrique Roncon</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="Henrique,Roncon,engenheiro,mecânico,mechanical,engineer,ufscar,
                              universidade federal,são carlos,solidworks,matlab,python,office">
<meta name="description" content="Página de apresentação profissional de Henrique Roncon. Saiba
                                  mais sobre minha carreira, habilidades e projetos desenvolvidos." />
<meta name="robots" content="index, follow" />
<link rel="icon" href="../site_images/favicon.ico">
<link rel="stylesheet" href="../site_css/w3.css">
<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
uv {
  text-decoration: underline #c81e1eff;
}
body {font-family: "Roboto", sans-serif}
.mySlides {display: none}
</style>
<script language="JavaScript" src="scripts/gen_validatorv31.js" type="text/javascript"></script>
<body class="w3-light-grey">

<!-- NAVBAR -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="index_eng.html" class="w3-bar-item w3-button w3-row-padding w3-hide-medium w3-hide-large w3-right" style="margin:4px 30px 0 0" title="Toggle Navigation Menu"><img src="site_images/uk.png" style="width:22%"></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="#sobre" class="w3-bar-item w3-button w3-padding-large w3-hide-small">SOBRE</a>
    <a href="#timeline" class="w3-bar-item w3-button w3-padding-large w3-hide-small">TIMELINE</a>
    <a href="#habilidades" class="w3-bar-item w3-button w3-padding-large w3-hide-small">HABILIDADES</a>
    <a href="#contato" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTATO</a>
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-small" onclick="window.open('site_docs/Henrique_Roncon_cv_pt.pdf')">CV</a>
    <a href="index_eng.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-red w3-right" target="_self">English</a>
  </div>
</div>

<!-- NAVBAR EM TELAS PEQUENAS (remover o atributo "onclick" para navbar aparecer sempre logo acima dos links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">HOME</a>
  <a href="#sobre" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">SOBRE</a>
  <a href="#timeline" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">TIMELINE</a>
  <a href="#habilidades" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">HABILIDADES</a>
  <a href="#contato" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTATO</a>
  <a href="#cvbutton" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CV</a>
</div>


<!-- CONTEÚDO DA PÁGINA -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">



  <!-- _________________INICIO IMAGEM ABERTURA_________________ -->
  <div class="w3-center">
    <picture>
        <source 
          media="(max-width: 465px)"
          srcset="../site_images/profile_pic_pt_smart_pt.png">
        <source 
          media="(max-width: 1000px)"
          srcset="../site_images/profile_pic_pt.png">
        <img class="w3-image" src="../site_images/profile_pic_pt.png" style="width:100%">
    </picture>
  </div>

  <!-- __________________FIM IMAGEM ABERTURA___________________ -->


  <!-- ___________________INICIO QUEM SOU EU___________________ -->
  <div class="w3-medium-grey" id="sobre"> 
    <div class="w3-container w3-content w3-padding-64 w3-medium-grey" id="sobre" style="max-width:800px"> 
      <h2 class="w3-wide"><uv>Sobre</uv></h2>
      <div class="slideshow-container w3-medium-grey" style="max-width:800px">
        <!-- SLIDES -->
        <div class="mySlides">
            <div class="w3-row w3-padding-32">
                <div class="w3-third w3-justify">
                  <p>Disposto sempre a aprender, com grande estima por tecnologia, 
                    inovação e automação de tarefas - por meio de algoritmos e 
                    implementações robóticas. Ainda que com muito gosto pelas indústrias 
                    aeronáutica, automotiva e de defesa, tenho grande disposição  
                    para conhecer e experimentar outras vertentes da engenharia.</p>
                </div>
                <div class="w3-third w3-center">
                    <p>
                        <img src="../site_images/gear2.png" style="width:60%">
                    </p>
                  </div>
                <div class="w3-third w3-justify">
                  <p>Em constante busca por oportunidades nos ramos da engenharia que 
                    possibilitem aplicar habilidades técnicas e de comunicação. Setores
                    de gestão, logística, planejamento de projetos, manutenção e 
                    desenvolvimento de produto muito me atraem, bem como funções 
                    relacionadas ao desenvolvimento e ministração de cursos técnicos
                    ou de documentações em geral.
                     </p>
                </div>
              </div>
        </div>

        <div class="mySlides">
            <div class="w3-row w3-padding-32">
                <div class="w3-justify">
                  <p>Preencho minhas horas vagas estudando música, tocando 
                    violão, jogando futebol e praticando corrida. Tenho
                    gosto pela leitura e me interessam assuntos relacionados
                    à psicologia, meditação e tecnologia em geral.   
                    Viajar, conhecer novos lugares, culturas e culinárias são,
                    além da música, minhas maiores fontes de satisfação pessoal.       
                  </p>
                </div>
                <div class="w3-quarter w3-center">
                  <img src="../site_images/running.png" style="width:70%">
                </div>
                <div class="w3-quarter w3-center">
                  <img src="../site_images/music.png" style="width:70%">
                </div>
                <div class="w3-quarter w3-center">
                  <img src="../site_images/student.png" style="width:70%">
                </div>
                <div class="w3-quarter w3-center">
                  <img src="../site_images/airplane.png" style="width:70%">
                </div>
              </div>
        </div>

        <!-- BOTÕES PREV/NEXT -->
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
      

        <!-- INDICADORES INFERIORES -->
        <div class="dot-container">
          <span class="dot" onclick="currentSlide(1)"></span> 
          <span class="dot" onclick="currentSlide(2)"></span> 
        </div>
      </div>
    </div>
  </div> 
  <hr> 

<!-- _________________FIM QUEM SOU EU_________________ --> 


<!-- _________________COMEÇO TIMELINE_________________ -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="timeline">
    <h2 class="w3-wide"><uv>Timeline</uv></h2>
  </div>

 <div class="history-tl-container w3-center">
  <ul class="tl">
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        Nov/18 - Atual<br> São Carlos, SP
      </div>
      <div class="item-title">Hece Máquinas</div>
      <div class="item-detail">Projetista Mecânico Jr.</div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        Fev/18 - Jul/18<br> São Carlos, SP
      </div>
      <div class="item-title">Laboratório de Dinâmica <br>EESC USP</div>
      <div class="item-detail">Pesquisador Adjunto</div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        Jul/17 - Out/17<br> São Carlos, SP
      </div>
      <div class="item-title">CBP Perfuratrizes</div>
      <div class="item-detail">Estagiário em Projetos</div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        Set/15 - Mar/17<br> São Carlos, SP
      </div>
      <div class="item-title">Engrenar Jr.</div>
      <div class="item-detail">Consultor de PMO <br>& Diretor de Projetos</div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        Jun/14 - Jul/15<br> Denver, EUA
      </div>
      <div class="item-title">University of Colorado</div>
      <div class="item-detail">Intercâmbio Acadêmico</div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        Mar/12 - Jan/18<br> São Carlos, SP
      </div>
      <div class="item-title">Universidade Federal <br>de São Carlos</div>
      <div class="item-detail">Graduação em <br>Engenharia Mecânica</div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        Mar/08 - Mar/11<br> São Carlos, SP
      </div>
      <div class="item-title">Colégio Interativo <br>& SENAI</div>
      <div class="item-detail">Ensino Médio <br>& Mecânica Automotiva</div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        Mar/98 - Jan/08<br> São Carlos, SP
      </div>
      <div class="item-title">EMEI Carmelita Ramalho <br>& SESI 106</div>
      <div class="item-detail">Ensino Básico</div>
    </li>
    <li class="tl-item" ng-repeat="item in retailer_history">
      <div class="timestamp">
        12/Mar/93<br> Araraquara, SP
      </div>
      <div class="item-title">Henrique Roncon</div>
      <div class="item-detail">Maternidade Gota de Leite</div>
    </li>
  </ul>
 </div>
 <hr>
 <!-- _____________________FIM TIMELINE___________________ -->


 <!-- _________________COMEÇO HABILIDADES_________________ --> 
   <div class="w3-medium-grey" id="habilidades">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide"><uv>Habilidades</uv> profissionais</h2>

      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
        <div class="w3-quarter w3-center w3-margin-bottom">
          <img src="../site_images/speak.png" style="width:80%" class="w3-hover-opacity">
          <div class="w3-container w3-center">
            <p><b>Idiomas</b></p>
            <button class="button button2 w3-margin-bottom" onclick="document.getElementById('b_idioma').style.display='block'">Saiba mais</button>
          </div>
        </div>
        <div class="w3-quarter w3-center w3-margin-bottom">
          <img src="../site_images/tools.png" style="width:80%" class="w3-hover-opacity">
          <div class="w3-container w3-center">
            <p><b>Ferramentas</b></p>
            <button class="button button2 w3-margin-bottom" onclick="document.getElementById('b_ferramentas').style.display='block'">Saiba mais</button>
          </div>
        </div>
        <div class="w3-quarter w3-center w3-margin-bottom">
          <img src="../site_images/program.png" style="width:80%" class="w3-hover-opacity">
          <div class="w3-container w3-center">
            <p><b>Programação</b></p>
            <button class="button button2 w3-margin-bottom" onclick="document.getElementById('b_programacao').style.display='block'">Saiba mais</button>
          </div>
        </div>
        <div class="w3-quarter w3-center w3-margin-bottom">
          <img src="../site_images/plus.png" style="width:80%" class="w3-hover-opacity">
          <div class="w3-container w3-center">
            <p><b>Outros</b></p>
            <button class="button button2 w3-margin-bottom" onclick="document.getElementById('b_outros').style.display='block'">Saiba mais</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>

 <!-- ___________________FIM HABILIDADES__________________ -->
 
 <!-- ____________________COMEÇO BOTOES___________________ --> 

      <!-- IDIOMA -->
  <div id="b_idioma" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-black w3-center w3-padding-16"> 
        <span onclick="document.getElementById('b_idioma').style.display='none'" 
        class="w3-wide"><i class="fa fa-comments w3-margin-right"></i>IDIOMAS
      </header>
      <div class="w3-container w3-white w3-center">
          <p class="w3-center"><b>Português</b> nativo, <b>Inglês</b> avançado e <b>Espanhol</b> iniciante.</p>
        <button class="button button4 w3-center" style="width:150px" onclick="document.getElementById('b_idioma').style.display='none'">Fechar <i class="fa fa-remove"></i></button>
      </div>
    </div>
  </div> 

      <!-- FERRAMENTAS -->
  <div id="b_ferramentas" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-black w3-center w3-padding-16"> 
        <span onclick="document.getElementById('b_ferramentas').style.display='none'" 
        class="w3-wide"><i class="fa fa-wrench w3-margin-right"></i>FERRAMENTAS
      </header>
      <div class="w3-container w3-white w3-center">
          <p class="w3-center"><b>SolidWorks & PDM</b> e <b>Siemens NX/UG</b> 
            intermediários, capaz de desenvolver peças, montagens e detalhamento 
            técnico. <b>MATLAB</b> intermediário, capacitado para elaborar 
            rotinas de cálculo, aplicar métodos matemáticos e simulações simples.</p>
        <button class="button button4 w3-center" style="width:150px" onclick="document.getElementById('b_ferramentas').style.display='none'">Fechar <i class="fa fa-remove"></i></button>
      </div>
    </div>
  </div> 

      <!-- PROGRAMAÇÃO -->
  <div id="b_programacao" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-black w3-center w3-padding-16"> 
        <span onclick="document.getElementById('b_programacao').style.display='none'" 
        class="w3-wide"><i class="fa fa-laptop w3-margin-right"></i>PROGRAMAÇÃO
      </header>
      <div class="w3-container w3-white w3-center">
          <p class="w3-center"><b>Octave</b>, utilizada nas rotinas elaboradas
            no software MATLAB. <b>Python</b>, aplicado em automação de tarefas 
            e projetos pessoais como programação de microcontroladores,  
            manipulação de dados em arquivos csv e desenvolvimento de
            aplicativos interativos (GUI). <b>Ladder</b>, empregada basicamente 
            em Controladores Lógico Programáveis. </p>
        <button class="button button4 w3-center" style="width:150px" onclick="document.getElementById('b_programacao').style.display='none'">Fechar <i class="fa fa-remove"></i></button>
      </div>
    </div>
  </div> 

      <!-- OUTROS -->
  <div id="b_outros" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-black w3-center w3-padding-16"> 
        <span onclick="document.getElementById('b_outros').style.display='none'" 
        class="w3-wide"><i class="fa fa-plus w3-margin-right"></i>OUTROS
      </header>
      <div class="w3-container w3-white w3-center">
          <p class="w3-center"><b>Microsoft Office</b> intermediário, com ênfase em <b>Excel</b>, 
            <b>Word</b> e <b>Powerpoint</b>. <b>Inkscape</b> iniciante, capaz de desenvolver artes não 
            complexas, utilizando vetores e esquema de camadas. <b>LaTeX</b> intermediário, 
            utilizado para o desenvolvimento e apresentação de documentos profissionais como artigos, 
            relatórios e manuais técnicos. Básico de <b>HTML</b>, o suficiente para implementar
            funcionalidades e criar páginas responsivas que podem ser usadas para documentação ou
            fonte de qualquer tipo de informação.
          </p>
        <button class="button button4 w3-center" style="width:150px" onclick="document.getElementById('b_outros').style.display='none'">Fechar <i class="fa fa-remove"></i></button>
      </div>
    </div>
  </div> 

 <!-- ___________________FIM BOTOES__________________ -->

 <!-- __________________COMEÇO CONTATO_________________ -->
  <div class="w3-container w3-black">
    <div class="w3-row-padding">

      <div class="w3-half w3-white">
        <div class="w3-container w3-white w3-content w3-padding-64" style="max-width:800px;height:520px;" id="contato">
          <h2 class="w3-wide w3-center"><uv>Dados</uv> pessoais</h2>
          <div class="w3-row w3-padding-64">
            <div class="w3-center w3-large">
              <i class="fa fa-home" style="width:30px"></i><a href="https://goo.gl/maps/Y1CimB76t45nYgSp8" target="_blank" style="text-decoration: none">São Carlos, SP</br>
              <i class="fa fa-phone" style="width:30px"></i><a href="tel://016999755781" target="_top" style="text-decoration: none">(16) 999 755 781</a></br>
              <i class="fa fa-linkedin" style="width:30px"></i><a href="https://www.linkedin.com/in/henriqueroncon" target="_blank" style="text-decoration: none">henriqueroncon</a></br>
              <i class="fa fa-envelope" style="width:30px"></i><a href="mailto:hdroncon@gmail.com" target="_top" style="text-decoration: none">hdroncon@gmail.com</a></br>
              <i class="fa fa-github" style="width:30px"></i><a href="https://github.com/hdroncon" target="_blank" style="text-decoration: none">hdroncon</a></br>
            </div>
          </div>
        </div>
      </div>

        <div class="w3-half w3-madeup-red">
          <div class="w3-container w3-madeup-red w3-content w3-padding-64" style="max-width:800px;height:520px;" id="contato">
              <h2 class="w3-wide"><u>Envie</u> uma mensagem</h2>

            <div class="w3-row w3-padding-64">
                <form method="POST" name="contactform" action="contact-form-handler.php"> 
                <div class="w3-row-padding" style="margin:0 -16px 43px -16px">
                  <div class="w3-half">
                    <input class="w3-input w3-border w3-center" type="text" placeholder="Nome" required name="name">
                  </div>
                  <div class="w3-half">
                    <input class="w3-input w3-border w3-center" type="text" placeholder="Email" required name="email">
                  </div>
                </div>
                <input class="w3-input w3-border w3-center" type="text" placeholder="Mensagem" required name="message">
                <p>
                <input type="submit" value="Enviar"><br>
              </p>
              </form>
            </div>
            
          </div>
        </div>
     </div>
   </div>
   <hr>
  <!-- _____________________FIM CONTATO_________________ -->


<!-- FIM CONTEÚDO DA PÁGINA -->
</div>


<!-- FOOTER -->
<footer class="w3-container w3-padding-64 w3-center w3-xlarge" id="cvbutton">
    <p class="w3-container w3-content w3-center w3-padding-64"> 
        <button class="button button1" onclick="window.open('site_docs/Henrique_Roncon_cv_pt.pdf')">Faça o download do meu currículo aqui!</button>
    </p>
  <p class="w3-center w3-medium">Encontre-me nas redes sociais.</p>
  <i class="fa fa-facebook-official w3-hover-opacity" onclick="window.open('https://www.facebook.com/hroncon')"></i>
  <i class="fa fa-spotify w3-hover-opacity" onclick="window.open('https://open.spotify.com/user/hroncon?si=ig8q9vFVQlwfnytBwphndA')"></i>
  <i class="fa fa-youtube-play w3-hover-opacity" onclick="window.open('https://www.youtube.com/channel/UCUKn88fbi3BDBjxc4eMCtCg?')"></i>
  <i class="fa fa-github w3-hover-opacity" onclick="window.open('https://github.com/hdroncon')"></i>
  <i class="fa fa-linkedin-square w3-hover-opacity" onclick="window.open('https://www.linkedin.com/in/henriqueroncon')"></i>
  <div class="w3-center w3-medium">
    <p class="fa fa-copyright" style="width:30px"></p>2019, por Henrique Roncon. Assistido por <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>.</br>
  </div>
  </footer>

<script>
// Funções para ativar minibars e bandeira de idioma em smartphones
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}


// FECHAR JANELA "HABILIDADES" QUANDO CLICAR FORA DA JANELA
var modala = document.getElementById('b_idioma');
var modalb = document.getElementById('b_ferramentas');
var modalc = document.getElementById('b_programacao');
var modald = document.getElementById('b_outros');
window.onclick = function(event) {
  if (event.target == modala) {
    modala.style.display = "none";
  }
  if (event.target == modalb) {
    modalb.style.display = "none";
  }
  if (event.target == modalc) {
    modalc.style.display = "none";
  }
  if (event.target == modald) {
    modald.style.display = "none";
  }
}

// SCRIP DOS SLIDES
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1} 
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none"; 
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
  slides[slideIndex-1].style.display = "block"; 
  dots[slideIndex-1].className += " active";
}

var frmvalidator  = new Validator("contactform");
frmvalidator.addValidation("name","req","Please provide your name");
frmvalidator.addValidation("email","req","Please provide your email");
frmvalidator.addValidation("email","email",
  "Please enter a valid email address");
</script>


</body>
</html>
